.mobile-preview {
  width: 431px;
  height: 882px;
  background: url(phone.png) no-repeat;
  margin: auto;
  clear: both;
}

.mobile-preview iframe {
  width: 375px;
  height: 667px;
  margin: 108px 28px 105px 28px;
  border: none;
}
